In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
cd /home/juliakhalina/notebooks

/home/juliakhalina/notebooks

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/05 19:38:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-03 22:23:24--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T222324Z&X-Amz-Expires=300&X-Amz-Signature=ab1f262bd9e22b8c96b1b147d0376c0ebc5b09b848598e034c5aa5a00578ed7b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-03 22:23:25--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T222324Z&X-Amz-Expires=300&X-Amz-Signature=ab1f262bd9e22b8c96b1b147d0376c0ebc5b09b848598e034c5aa5a00578ed7b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-03 22:23:25 (60.9 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_taxi = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [6]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv')

In [9]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [10]:
df_taxi.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [14]:
df_taxi.show(50)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|        22|     Brooklyn|    Bensonhurst West|   Boro Zone|
|        23|Staten Island|Bloomfield/Emerso...|   Boro Zone|
|        24|    Manhattan|        Bloomingdale| Yellow Zone|
|        25|     Brooklyn|         Boerum Hill|   Boro Zone|
|        26|     Brooklyn|        Borough Park|   Boro Zone|
|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|        28|       Queens|Briarwood/Jamaica...|   Boro Zone|
|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|        30|       Queens|       Broad Channel|   Boro Zone|
|        31|        Bronx|          Bronx Park|   Boro Zone|
|        32|        Bronx|           Bronxdale|   Boro Zone|
|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|        35|     Brooklyn|         Brownsville|   Boro Zone|
|        36|     Brooklyn|      Bushwick North|   Boro Zone|
|        37|     Brooklyn|      Bushwick South|   Boro Zone|
|        38|       Queens|     Cambria Heights|   Boro Zone|
|        39|     Brooklyn|            Canarsie|   Boro Zone|
|        40|     Brooklyn|     Carroll Gardens|   Boro Zone|
|        41|    Manhattan|      Central Harlem|   Boro Zone|
|        42|    Manhattan|Central Harlem North|   Boro Zone|
|        43|    Manhattan|        Central Park| Yellow Zone|
|        44|Staten Island|Charleston/Totten...|   Boro Zone|
|        45|    Manhattan|           Chinatown| Yellow Zone|
|        46|        Bronx|         City Island|   Boro Zone|
|        47|        Bronx|  Claremont/Bathgate|   Boro Zone|
|        48|    Manhattan|        Clinton East| Yellow Zone|
|        49|     Brooklyn|        Clinton Hill|   Boro Zone|
|        50|    Manhattan|        Clinton West| Yellow Zone|
+----------+-------------+--------------------+------------+
only showing top 50 rows

In [14]:
df.registerTempTable('trips_data')

In [18]:
df_taxi.registerTempTable('zones_data')

In [23]:
spark.sql("""
SELECT PULocationID, count(PULocationID) 
       FROM trips_data as S
       GROUP BY PULocationID
       ORDER BY count(PULocationID) DESC;
""").show()

+------------+-------------------+
|PULocationID|count(PULocationID)|
+------------+-------------------+
|          61|             231279|
|          79|             221244|
|         132|             188867|
|          37|             187929|
|          76|             186780|
|         231|             164344|
|         138|             161596|
|         234|             158937|
|         249|             154698|
|           7|             152493|
|         148|             151020|
|          68|             147673|
|          42|             146402|
|         255|             143683|
|         181|             143594|
|         225|             141427|
|          48|             139611|
|         246|             139431|
|          17|             138428|
|         170|             137879|
+------------+-------------------+
only showing top 20 rows

In [24]:
spark.sql("""
SELECT Zone FROM zones_data WHERE LocationID = 61;
""").show()

+-------------------+
|               Zone|
+-------------------+
|Crown Heights North|
+-------------------+